<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parser</title>
</head>

<body>
    <div class="container">
        <div layout:fragment="content">
            <div class="text-center py-5">
                <h2>Sélectionnez les fichiers CSV à importer</h2>
                <form method="POST" th:action="@{/addfiles}" th:object="${upload}" enctype="multipart/form-data">
                    <input style="width: 320px" multiple accept=".csv" type="file" th:field="*{files}">
                    <button type="submit">Valider</button>
                </form>
                <div th:each="result : ${results}">[[ ${result} ]]</div>
            </div>
            <div class="text-center py-5">
                <h2>Ajoutez le lien de la page HTML à récupérer</h2>
                <form method="POST" th:action="@{/addlinks}" th:object="${upload}">
                    <input style="width: 320px" type="text" th:field="*{link}">
                    <button type="submit">Valider</button>
                </form>
                <div>[[ ${status} ]]</div>
            </div>
        </div>
    </div>
</body>

</html>