<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>API Test</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.js">

</head>

<body>


  <form action="" onsubmit=" return getToken()" method="post">
    <div class="form-group">
      <input type="text" id="question" placeholder="Rentrez votre question" />
      <input type="text" id="lang" placeholder="en"/>
      <input id="butSubmit" type="button" value="ici!!!" />
    </div>
  </form>

  <div id="riri"></div>

</body>

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>


<script type="text/javascript">


  function getToken() {
    return new Promise((resolve, reject) => {
      $.ajax({
        url: "http://qanswer-core1.univ-st-etienne.fr/api/user/signin",
        type: 'POST',
        contentType: "application/json",
        headers: {
          "Content-Type": "application/json",
        },
        data: JSON.stringify({
          "usernameOrEmail": "QNico",
          "password": "J*M'isuMdR*20"
        }),
        crossDomain: true,

        success: function (data) {
          resolve(data)
        },
        error: function (error) {
          reject(error)
        },
      })
    })
  }

  function qA(token, question, lang) {
    return new Promise((resolve, reject) => {
      $.ajax({
        url: "http://qanswer-core1.univ-st-etienne.fr/api/qa/fullInterpretation?question=" + question + "?&lang=" + lang,
        type: 'GET',
        contentType: "application/json",
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + token,
        },
        crossDomain: true,

        success: function (data) {
          resolve(data)
        },
        error: function (error) {
          reject(error)
        },
      })
    })
  }

  $(document).ready(function () {
    $("#butSubmit").on("click", async () => {
      getToken().then(function (value) { // value is token
        var question = document.getElementById("question").value;
        var lang = document.getElementById("lang").value;
        qA(value['accessToken'], question, lang).then((value) => { // value is response != value of token
          //console.log(value['interpretation'])
          document.getElementById("riri").innerHTML =
            "Question =       ".toUpperCase().bold() + value['question'] + '<br>' +
            "Interpretation = ".toUpperCase().bold() + value['interpretation'] + '<br>' +
            "Contexte =       ".toUpperCase().bold()
          value['qaContexts'].forEach(a => {
            document.getElementById("riri").innerHTML += a.literal + " | "
          })

          //  response.qaContexts[0].literal
        })
      });
    });
  });


</script>

</html>